body{
    font-family: Helvetica, sans-serif;
}

/* Banner on top of page contains logo */
#header-banner   {
    border: 1px solid #ccc;
    background-color: whitesmoke;
    width: 105%; 
    margin: -10px;
}

/* Logo at the top left corner */
#logo   {
    display: inline-block;
    width:130px;
    height:90px;
}

/* Input form i.e for name, location, etc. */
#input-form{
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
    background-color: #e2f1ea;
    border-radius: 0.5rem;
    box-shadow: 5px 8px 10px #d1d1d1;
    padding: 25px; 
}

/* Group search name (in the input form) */
.session-name{
    color: #555;    
}

/* Input box for form */
.input {
  width: 300px;
  padding: 15px 32px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input:focus {
  border: 3px solid #555;
}

/* input box label */
.textb label{
    display: inline-block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}

/* Enter-Search Button */
#search-btn {
    background-color: #FE5F55; 
    border: 1px solid rgb(145, 145, 145);
    border-radius: 0.2rem;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#search-btn:hover{
    background-color: rgb(226, 55, 43);
}

/* Sectioning search results to the left */
.search-results {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

/* Sectioning map to the right */
.map {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

/* Style for top buttons i.e Share invite and View Particpants */
.top-buttons{
    margin-left: 2%;
}

/* Name given to group search session */
#session-name{
    color: rgb(119, 118, 118);
}

/* Button to share group search invite  */
.share-invite{
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white; 
    color: black; 
    border: 2px solid #FE5F55;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

.share-invite:hover{
    background-color: rgb(245, 156, 150);
}

/* Button linking to participants page */
.participants{
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white; 
    color: black; 
    border: 2px solid #FE5F55;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}

.participants:hover{
    background-color: rgb(245, 156, 150);
}
